/*
    #F1C5D9
    #F2B3C0
    #E6A2AD
    #DF8A91
*/

body {
    background: #df8a91;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    width: 70%;
}

header {
    min-height: 50px;
    display: block;
    width: 100%;
    height: 90px;
}

.main-body {
    display: flex;
    height: 90%;
}

.logo {
    display: flex;
    width: 100%;
}

.logo img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    padding-left: 20%;
    padding-top: 3%;
    height: 80%;
}

.alert-minus-text {
    display: flex;
    align-items: center;
    margin: 8px 8px 8px 0px;
    height: 25px;
    color: #495057;
}

.alert-minus-text img {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.alert-minus-text p {
    display: inline;
    width: 300px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

#input-text {
    width: 90%;
    max-height: 80%;
    resize: none;
    font-family: "Inter";
    border: none;
    font-size: 2rem;
    background: #df8a91;
    line-height: 5rem;
    font-weight: 400px;
    font-style: normal;
    color: #ffffff;
}

#input-text:focus {
    outline: none;
    resize: none;
    border: none;
    font-family: "Inter";
}

.Buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 940px;
    height: 50px;
    border-radius: 8px;
    padding-top: 8%;
    margin-top: 70px;
}

.Buttons button {
    width: 328px;
    height: 58px;
    border: 1px solid #df8a91;
    border-radius: 15px;
    border-color: #f7616d;
}

.btton1 {
    background: #f7616d;
    color: white;
}

.btton2 {
    margin: 0px 0px 0px 30px;
    background: #f1a6ac;
    color: #0a3871;
}

aside {
    display: flex;
    justify-content: center;
}

.aside-container {
    background-color: white;
    height: 90%;
    margin-right: 15px;
    border-radius: 30px;
    box-shadow: 5px 5px 1000px rgba(131, 131, 131, 0.3);
    margin-left: 50px;
}

.aside-container .aside-img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    height: 100%;
    text-align: center;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0;
}

.text-aside {
    padding-top: 20px;
}

.notfound-text {
    font-weight: bold;
    font-size: 27px;
}

.insert-text-decrypt {
    padding-top: 15px;
    font-size: 18px;
    color: #495057;
}

footer {
    background-color: #3f403f;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #df8a91;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 15px;
    height: 8vh;
    text-align: center;
}

footer img {
    width: 24px;
    height: 24px;
    padding-left: 12px;
}

footer a {
    color: white;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.btton1:active {
    background: #062244;
}

@media screen and (max-width: 1200px) {
    .main-body {
        display: block;
    }
    .container {
        padding-bottom: 5%;
    }

    aside {
        display: flex;
        height: 50%;
        justify-content: center;
    }

    .aside-container {
        background-color: white;
        border-radius: 30px;
        box-shadow: 5px 5px 1000px rgba(131, 131, 131, 0.3);
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .aside-container .aside-img-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Inter", sans-serif;
        text-align: center;
    }

    body {
        background: #df8a91;
        min-height: 100vh;
        margin: 0;
        display: grid;
        grid-template-rows: auto 1800px auto;
    }
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    font-weight: 800;
    font-style: bold;
}

@font-face {
    font-family: "Emizen";
    src: url("fonts/Emizen.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
