/*
    #F1C5D9
    #F2B3C0
    #E6A2AD
    #DF8A91
*/

body {
    background: #ffffff;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    width: 70%;
    padding-left: 15%;
}

header {
    min-height: 50px;
    width: 100%;
    height: 120px;
}

.main-body {
    display: flex;
    height: 90%;
}

.logo {
    display: flex;
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo h1 {
    font-size: 2rem;
    font-family: "Intern", sans-serif;
    font-weight: bolder;
    color: #7e75ff;
    text-shadow: 5px 5px 50px #062244;
    letter-spacing: 1vh;
    margin-left: 20px;
}

.logo img {
    width: 100px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top: 5px;
}

.main-body {
    background-color: white;
    height: 90%;
    border-radius: 30px;
    box-shadow: 5px 5px 1000px rgba(131, 131, 131, 0.3);
    padding-left: 5%;
    display: block;
}

.input-key {
    height: 5%;
}

#user-key {
    padding-top: 2%;
    resize: none;
    font-family: "Inter";
    border: none;
    font-weight: 400px;
    font-style: normal;
    color: #0a3871;
    height: 5%;
}

footer {
    background-color: #3f403f;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #7e75ff;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 35px;
    height: 8vh;
    text-align: center;
}

footer img {
    width: 24px;
    height: 24px;
    padding-left: 12px;
}

footer a {
    color: white;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.btton1:active {
    background: #062244;
}

footer h1 {
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(
        #fd004c 16.7%,
        #fe9000 16.7%,
        #fe9000 33.4%,
        #fff020 33.4%,
        #fff020 50.1%,
        #3edf4b 50.1%,
        #3edf4b 66.8%,
        #3363ff 66.8%,
        #3363ff 83.5%,
        #b102b7 83.5%
    );
    -webkit-text-stroke: 2px var(--yangColor);
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 1.1em;
    animation: rainbow 100s linear infinite;
}

@keyframes rainbow {
    100% {
        background-position: 0 60em;
    }
}

.logo h1 {
    animation: cssAnimation_0 5500ms infinite ease-in-out;
}

@keyframes cssAnimation_0 {
    0% {
        /* OPCIONAL */
    }
    50% {
        text-shadow: 0px 10px 3px rgba(0, 0, 0, 0.3);
        letter-spacing: 50px;
        color: #3363ff;
    }
    100% {
        /* OPCIONAL */
    }
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    font-weight: 1600;
    font-style: bold;
}

@font-face {
    font-family: "Emizen";
    src: url("../fonts/Emizen.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
